/* khai báo biến */
:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --border-color : #dbdbdb;
    --star-gold-color: #FFCE3E;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));

    --header-sort-bar-height: 46px;
} 
/* uplite lên thẻ  */
*{
    box-sizing: inherit; /* kế thừa lại các thẻ border-box*/
}

html{
    /*100% = 16px => 1rem = 16px */
    /*Hack: 1 rem = 10px muốn 12 rem = 1.2px*/
    font-size: 62.5%;
    line-height: 1.6rem; /*độ cao chữ*/
    font-family: 'Roboto', sans-serif; /*sans-serif:  tập hợp chữ không có chân */
    box-sizing: border-box;
}
/* tương thích mọi trình duyệt */
/* Responsive */
/* .grid{
    width: 1200px;
    max-width: 100%;
    /* căn giữ khối này trong khối khác */
    /* margin: 0 auto; 
    
} 

/* .grid__full-width{
    width: 100%;
}
thẻ năm trong class này thì đều nằm trên 1 hàng ngang */
.grid__row{
    display: flex;
    /* nếu trên 1 hàng hết chỗ thì nhảy xuống */
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* test chuẩn bị cho responsive */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
/* annimation */
/* khi nào xuất hiện là 0 và hiện lên từ từ 1  */
@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }to{
        transform: scale(var(--growth-to))
    }
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body{
    --growth-from: 0.7;
    --growth-to:1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}
/* Button style */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/* yêu cầu gọi tới thẻ có hai class */
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    
}
/* vô hiệu hóa */
.btn.btn--disabled{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}
/* selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: #6b6b6b;
    position: relative;
    top: 1px;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}
.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}
/* phân trang */

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item{
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;
}
.pagination-item__link{
    --height : 30px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px ;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}
