/* kế thừa chiều ngang do thẻ block */
.app {
    overflow: hidden;
}

.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433 , #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between; 
}
.header__navbar-list{
    list-style: none;/* mất dấu chấm */
    padding-left: 0;/* bỏ đi padding 40px */
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item {
    /* margin: 0 8px; */
    position: relative;
    min-height: 26px;
}
/* hiện ra qr */
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
/* hiện thông báo */
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__navbar-item , .header__navbar-item-link{
    display: inline-block; /*vẫn giữ 1 khối nhưng nằm 1 hàng*/
    font-size: 1.3rem; /* tương đương 15 px */
    color: var(--white-color);
    text-decoration: none; /*bỏ gạch chân */
    font-weight: 300; /*xác định độ đậm nhạt của chữ*/
}
/* làm cho nó mờ đi lớp giả*/
.header__navbar-item:hover , 
.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon-link:hover{
    cursor: pointer; /*cursor con chuột : bàn tay */
    color: rgba(255, 255, 255, 0.7); /*Làm mờ đi khi chuột vào*/
}
/* chỉnh icon với chữ  */
.header__navbar-item , 
.header__navbar-item-link ,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block; /*fex bot*/
    position: absolute;   /* phụ thuộc vào header__navbar-item */
    border-left: 1px solid #FB9086; /* solid : nét liền */
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%); /* thay đổi hướng của đối tượng  */
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

/*  cách icon với chữ kết nối*/
.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* QR CODE */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;  
    top: 118%;/* cao bằng thẻ li */
    padding: 8px;
    border-radius: 2px;
    display: none; /* ẩn đi cái thẻ qr đi  */
    /* ease-in chậm rồi nhanh time thực thi */
    animation: fadeIn ease-in 0.5s; 
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: " ";
    display: block;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
/* làm cho cái thu vô giống cái qr  */
.header__qr-link:first-child{
    margin-left: 11px;
}
.header__qr-link:last-child{
    margin-right: 11px ;
}
.header__qr-download-img{
    height: 15px;
}

/* Thông báo */
.header__notify{
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    /* đổi tâm */
    transform-origin: calc(100% - 32px) top;
    /* nhớ cách dầu trừ ra */
    animation: headerNotifyGrowth ease-in 0.2s;
    /* nói cho trình duyệt biết thuộc tính gì của trình duyệt thay đổi */
    will-change: opacity , transform ;
    display: none; 
}
/* làm hình tam giác */
.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top : -28px;
}
/* cầu nối */
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}
/* thời gian để chạy */
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    } to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-descriotion{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* header sort */

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-item :first-child .header__sort-link::before{
    display: none;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    /* 50% của thằng chứa nó */
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    /* 50% của chính nó*/
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

/* Authen modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top : 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 300;
    border : 1px solid var(--border-color);
    border-radius: 2px;
    /* bỏ cái khung đen khi nhấn vào */
    outline: none;
}
/* dùng để đổi màu boder khi bấm vào */
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook
.auth-form__socials{
    color: var(--white-color);
}
.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #3A5A98;
}
.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__socials--google{
    color: #666;
    background-color: var(--white-color);

}
/* form đăng ký */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
/* vạch */
.auth-form__help-separate{
    display: block;
    height: 18px;
    margin: 0px 16px;
    border-left: 1px solid #EAEAEA;

}
.auth-form__help-forgot{
    color: var(--primary-color);
}
/* ô tìm kiếm */

.header-with-search {
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
    margin: 0 8px;
} 

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo{ 
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__search {
    display: flex;
    align-items: center;
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
}

/* để tí làm cái hiện ra */
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header__search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
  
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #6b6b6b;
    margin: 0 8px ;
    position: relative;
    top: 1px;
}
.header__search-btn{
    border: none;
    outline: none;
    width: 60px;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    background-color: var(--primary-color);
}
.header__search-btn:hover{
    background-color: #fb6445;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-option{
    position: absolute;
    right: 0;
    top: 120%;
    width: 130px;
    list-style: none;
    /* bóng đổ */
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}
/* khi di chuột vào thì mới hiện lên */
.header__search-select:hover .header__search-option{
    display: block;
}
/* lớp giả làm cầu nối */
.header__search-option::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    top: -20px;
    left: 0;
}
.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
}

/* bo góc */
.header__search-option-item:first-child{
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px ;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}

/* lịch sử tìm kiếm */
/* thanh xuống trong phần tìm kiếm */
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-history{
    position: absolute;
    top : calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 ;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
    /* để kế thừa chiều ngang từ cha */
}
.header__search-history-item:hover{
    background-color: #fafafa;
}

/* khi nhấn vào ô tìm kiếm thì hiên ra lịch sử tìm kiếm */
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* làm giỏi hàng */

.header__cart-list{
    position: absolute;
    top: calc(100% + 10px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
.header__cart-no-cart-img{
    width: 50%;
    display: none;
}
.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
/* thêm mũi tên */
.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
/* di vào hiện ra */
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
/* khi bỏ cái class đó vào thì hiện giỏ hàng trống */
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* css số phía tren giỏ hàng */
.header__cart-notice{
    position: absolute;
    top: -10px;
    right: -1px;
    padding: 1px 7px;
    background-color: var(--white-color);
    line-height: 1.4rem;
    color: var(--primary-color);
    font-size: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}
/* THÊM HAMGF TRONG GIỎ HÀNG */
.header__cart-heading{
   text-align: left;
   margin: 8px 0 8px 12px; 
   font-size: 1.4rem;
   color: #999;
   font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    /* view port height */
    /* chiều cao */
    overflow-y: auto;
}
.header__cart-item{
    display: flex ;
    align-items: center;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between; 
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
/* đổi màu khi di chuột vào  */
.header__cart-item:hover{
    background-color: #F8F8F8;
}
/* nút xem giỏ hàng */
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

/* khi login được */
.header__navbar-user{
    display: flex;
    justify-items: center;
    align-items:center ;
    position: relative;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 300;
}
/* hiện ra dưới tài khoản */
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
/* khi di chuột vào thì hiện ra cái menu */
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

/* bo góc khi bỏ hover vào */
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 16px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
/* nút tam giác */
.header__navbar-user-menu::before{
    content: "";
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top : -23px;
}
/* thêm 1 cầu nối */
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top:-8px;
    right: 0;
    width: 65%;
    height: 8px;
}
/* ngăn giữa đăng xuất với các từ khác */
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);   
}

/* danh mục trong container */

.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 36px;
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
}
.category__heading{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category-list{
    padding:0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}
.category-item{
    position: relative;
}
.category-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    right: 20px;
    border-top: 1px solid #E1E1E1;

}

.category-item:first-child::before{
    display: none;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    /* 50% của thẻ chứa nó */
    top: 30%;
    left: 8px;
    border: 4px solid;
    /* 50% chính nó */
    /* transform: translateY(50%); */
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    position: relative;
    right: 0;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 20px;
    transition: right linear 0.1s;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* danh mục trên mobile */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n+1) .mobile-category__link {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n+2) .mobile-category__link {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n+3) .mobile-category__link {
    background-color: #88CF81;
}

.mobile-category__link {
    --line-heigth: 2rem;
    display: block;
    width: 110px;
    height: calc(var(--line-heigth) * 2);
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: var(--line-heigth);
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}   

/* HOME sort + filter */
.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 12px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
    
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

/* sang trang*/
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto ;
}
.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee ;
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
/* product item */
.home_product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    position: relative;
    margin-top: 10px ;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    /* bức ảnh co lại để nhìn thấy đc */
    background-size: contain; 
    background-position: top center ;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    /* hiển thị dấu 3 chấm */
    overflow: hidden;
    display: block;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* dùng cho 1 dòng */
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like{
    font-size: 1.3rem;
}
/* ẩn cái tim đi */
i.home-product-item__like-icon-fill{
    color: #F63D30;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-flex;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    /* làm cho tâm thu nhỏ bên phải chơ k phải ở giữa */
    transform-origin: right;
    color: #D5D5D5;
    margin:-1px 0 0 auto;
    
}
.home-product-item__star--goid{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px ;
}
.home-product-item__favourite i{
    font-size: 00.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor ;
    border-left: 3px solid transparent;
    /* giảm độ sáng */
    filter: brightness(40%);
}
.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color:rgba(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
.home-product-item__sale-off-percent{
    display: block;
    color: #EE4D2D;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    margin-top: 4px ;
}
.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.4rem;
}
/* phân trang */
.home_product__pagination{
    margin: 48px 0px 32px;
    padding-left: 0;
}
/* footer */
.footer{
    padding-top: 16px;
    background-color: var(--white-color);
    border-top: 4px solid var(--primary-color);
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;

}
.footer__dowload{
    display: flex;
}
.footer__dowload-qr{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__dowload-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__dowload-app-img{
    height: 16px;
}
.footer__dowload-app-link{
    color: transparent;
    text-decoration: none;
}
.footer__bottom{
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}
.footer__text{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}